<!DOCTYPE html>
<html>
<head>
	<title>XSS SERVER BY PORSERVER</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
	<style type="text/css">
		body {
			font-family: 'Itim', cursive;
			background-image: url("https://wallpaperaccess.com/full/21593.jpg");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
</head>
<body>
	<center><font size="150" color="00FFAB"><H1>พวกกูโนสนโนแคร์เข้าใจปะ</H1></font></center>
	<center><small><font size="6" color="EB5353">API XSS BY PORSERVER</font></small></center>
</body>
</html>